@import "partials/reset";
@import "partials/board";

h1, h2 {
  text-align: center;
  margin: 1em 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p, ul {
  font-size: 1rem;
}

ul {
  list-style-type: circle;
  margin-left: 2em;
}

.container {
  max-width: 20rem;
  margin: 0 auto;
}
